li {
  list-style-type: none;
}

.completed {
  text-decoration: line-through;
  color: #888888;
}

.todo {
  display: grid;
  align-items: center;
  grid-template-columns: 4fr 1fr;
  border-bottom: solid rgb(240, 240, 240) 1px;
  overflow: hidden;
}

.todo p {
  text-align: start;
  margin: 5px 5px;
  font-size: 0.875rem;
}

.todo button {
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 4px;
  justify-self: center;
  padding: 7px 10px;
  opacity: 0;
}

.todo:hover button {
  cursor: pointer;
  opacity: 1;
}

.todo button img {
  width: 18px;
}

.container {
  display: block;
  position: relative;
  padding-left: 2rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

label span {
  background-color: transparent;
  width: 1rem;
  height: 1rem;
  float: right;
  margin: 3px 3px 3px 4px;

  transform-origin: center;
  border: 1px solid #888888;
  border-radius: 50%;
}

input[type="checkbox"] {
  display: none;
}

.checkmark {
  position: absolute;
  height: 1rem;
  width: 1rem;
  top: 0;
  left: 0;
  border-radius: 15px;
}

.todo:hover input ~ .checkmark {
  border-color: #e79797;
}

.container input:checked ~ .checkmark {
  background-color: #e79797;
  border-color: #e79797;
  /* border-color: #58a4b0; */
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 6px;
  top: 4px;
  width: 3px;
  height: 6px;
  border: solid white;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
